.nav {
    padding-top: 35px;
    padding-bottom: 35px;
}
.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: var(--bold);
}
.navigation-list {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .active {
        color: var(--accent-color);
        font-weight: 700;
    }

    a:hover {
        color: var(--accent-color);
    }
}