html, body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 1.6;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, input, button {
  font-size: inherit;
}

input, button {
  border: 0;
  font-family: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button, input[type=submit] {
  cursor: pointer;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --accent-color:#f78434;
  --accent-color-hover:#ff6a00;
  --bold: 700;
  --narrow: 1.2;
  --wide: 1.5;
}

.title {
  line-height: var(--wide);
  font-size: 2em;
  font-weight: var(--bold);
}

.button {
  display: inline-block;
  color: #fff;
  height: 58px;
  padding: 0 37px;
  border-radius: 29px;
  background-color: var(--accent-color);
  line-height: var(--wide);
  font-weight: var(--bold);
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: var(--accent-color-hover);
}

.img-card__img {
  border-radius: 20px 20px 0px 20px;
}

.img-card--rounder {
  border-radius: 20px;
}

.nav {
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: var(--bold);
}

.navigation-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navigation-list .active {
  color: var(--accent-color);
  font-weight: 700;
}
.navigation-list a:hover {
  color: var(--accent-color);
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  width: 465px;
}

.header__title {
  position: relative;
  z-index: 9;
  font-size: 3.3rem;
  font-weight: var(--bold);
  line-height: var(--wide);
  margin-bottom: 25px;
  margin-right: -220px;
}

.header__subtitle {
  line-height: var(--narrow);
  margin-bottom: 1em;
}

.header__form {
  background: #fff;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  margin-top: 25px;
  margin-right: 5px;
}
.header__form:active {
  box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
}

.header__form-label {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
}
.header__form-label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("../../img/block1_welcome/mailbox.svg");
  background-size: initial;
}

.header__form-input {
  flex: 1 1 auto;
  margin-right: 5px;
}
.header__form-input::-moz-placeholder {
  color: #bbb;
}
.header__form-input::placeholder {
  color: #bbb;
}

.header__image img {
  border-radius: 40px 40px 40px 0;
}

.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 80px;
}

.objects > .container {
  max-width: 100%;
  margin: 0;
}

.objects__row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.objects__img {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.objects__img .img-card {
  margin-left: 32px;
}

.objects__text {
  max-width: 543px;
  padding-left: 101px;
  flex-shrink: 0;
}
.objects__text p + p {
  margin-top: 20px;
}
.objects__text .text {
  padding-left: 0;
}

.objects__title {
  margin-bottom: 20px;
}

.objects__button {
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
}/*# sourceMappingURL=main.css.map */